body {
    font-family: verdana, tahoma, sans-serif;
    margin: 20px;
}

.profilePhoto {
    width: 150px;
}

.card {
    display: flex;
    border-radius: 20px;
    padding: 20px;
    justify-content: space-around;
    width: 450px;
    align-content: center;
    margin: 0px auto 0px auto;
    text-align: center;
    background: #D8BFD8;
    color: #2b2839;
    border-bottom: 6px solid #8c9cff; 
}

.blue-border {
    border: 1px dotted blue;
}