.container {
    border: 8px solid green;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: start;




}

.item {
    width: 50px;
    height: 50px;
    margin: 2px;
    padding: 10px;
    font-size: 35px;
    border: 2px solid black;
    background: linear-gradient(#14463d, #016a26);
}