body {
    background: #A2D2FF;
    text-align: center;
    font-family: "Happy Monkey", sans-serif;
    color: #ffffff;
}

h1, h2, h4 {
    text-shadow: 0px 0px 1px  black;
}

#bff {
    width: 200px;
    border-radius: 100%;
    border: 6px solid #EFB0C9;
}

#bday-age {
    background: #EFB0C9;
    padding: 4px 8px 4px 8px;
    border-radius: 6px;
    margin-bottom: 5px;
    margin-top: 15px;
}

#bday-date {
    background: #EFB0C9;
    padding: 4px 8px 4px 8px;
    border-radius: 6px;
    margin-top: 5px;
}


#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#happy {
    margin: 0 auto;
    background-image: url(img/gift-wrap.jpg);
    border: 6px solid #ffffff;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    background-size: cover;
}

#happy:hover {
    background-image: url(img/happy.jpg);
}

#reaction {
    margin: 0 auto;
    background-image: url(img/gift-wrap.jpg);
    border: 6px solid #ffffff;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    background-size: cover;
}

#reaction:hover {
    background-image: url(img/reaction.jpg);
}

#desc {
    margin: 0 auto;
    background-image: url(img/gift-wrap.jpg);
    border: 6px solid #ffffff;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    background-size: cover;
}

#desc:hover {
    background-image: url(img/dog.jpg);
}

#baddass {
    margin: 0 auto;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    background-image: url(img/gift-wrap.jpg);
    background-size: cover;
}

#baddass:hover {
    background-image: url(img/baddass.jpg);
}

#final-gift {
    margin: 0 auto;
    background-image: url(img/gift-wrap.jpg);
    border: 6px solid #ffffff;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    background-size: cover;
}

#final-gift:hover {
    background-image: url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExNHM4eWpveWdmZnlienY2aHB1bWlmYjdhb3R6MGlrc2QyYTUzZGk0eSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/BPJmthQ3YRwD6QqcVD/giphy.gif);
}