
.main {
    margin-top: 100px;
}

.googleImage {   /*using the class to make objects   */
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.searchBar {
    display: block;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    line-height: 4px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 30px;
    background: #dfe1e5;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    font-size: 14px;
}
