
.main {
    margin-top: 100px;
}

.googleImage {   /*using the class to make objects   */
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.searchBar {
    display: block;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    line-height: 24px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px
}

.btn {
    margin-left: auto;
}
