body {
    justify-content: center;
}

#apple-shelf {
    margin: 80px 50px 20px 150px;
    width: 250px;
    height: 30px;
    background-color: red;
}

#orange-shelf {
    margin: 20px 50px 20px 150px;
    width: 250px;
    height: 30px;
    background-color: orange;
}