body {
    text-align: center
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
    border-radius: 5px;
}

#count-el {
    font-size: 30px;
}

#increment-btn {
    background-color: darkred;
}